@using Stacks.Models
@model Book

@{
ViewData["Title"] = "Add a Book";
}

<partial name="NavbarPartial">

<br>

<!-- ALERT -->
@if(ViewBag.NotUnique != null)
{
    <div class="mx-auto" style="width: 35%; text-align: center">    
        <div class="alert" >
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewBag.NotUnique
        </div>
    </div>
}

<div class="mx-auto" style="width: 45%; text-align: center">
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="closebtn" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Please note.</strong> You can edit the book title, author, and genre, or, delete the book, within one
        hour of adding it to the library.
    </div>
</div>

<div class="mx-auto"
    style="width: 35%; text-align: center; color: darkgray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <h3>Add a New Book</h3>
</div>

<br>

<div class="mx-auto" style="width: 35%">
    <form asp-action="CreateBook" asp-controller="Home" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <span asp-validation-for="Title"></span>
                    <input type="text" asp-for="Title" class="form-control" name="Title" placeholder="Book Title"
                        required="required">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <span asp-validation-for="Author"></span>
                    <input type="text" asp-for="Author" class="form-control" name="Author" placeholder="Book's Author"
                        required="required">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <span asp-validation-for="Genre"></span>
                    <input type="text" asp-for="Genre" class="form-control" name="Genre" placeholder="Genre"
                        required="required">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <span asp-validation-for="Description"></span>
                    <textarea type="text" asp-for="Description" class="form-control" name="Description"
                        placeholder="Description" required="required"></textarea>
                </div>
            </div>
            <br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Add Book</button>
        </div>
    </form>
</div>

