<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @if(ViewBag.Home == null)
    {
        <a class="navbar-brand" href="/Dashboard"> <span style="color: green">Home</span> </a>
    }
    @if(ViewBag.Home == "Home")
    {
        <a class="navbar-brand" href="/Dashboard"> <span style="color: green">Welcome, @ViewBag.ReaderName</span> </a>
    }
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/AddBook">Add a Book</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filter by Genre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach(var genre in @ViewBag.AllGenres)
                    {
                    <a class="dropdown-item" href="/Filter/Genre/@genre">@genre</a>
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Account Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../../YourAccount">Your Account</a>
                    <a class="dropdown-item" href="../../YourBooks/Added">Your Books</a>
                    <a class="dropdown-item" href="../../YourBooks/ReadList">Your Reading List</a>
                    <a class="dropdown-item" href="../../YourBooks/ReadAlready">Your Read Books</a>
                    <a class="dropdown-item" href="../../YourBooks/Favorites">Your Favorites</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Logout">Sign Out</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="../../Filter/Search/Search">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>