/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background: linear-gradient(to right, silver, white, silver);
  margin-bottom: 60px;
}
.footer {
  background: linear-gradient(to top, #218838, #5cb85c);
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Login/Register */

.form-control{
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus{
  border-color: #5cb85c;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: #636363;
      margin: 0 0 15px;
  position: relative;
  text-align: center;
  }
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}	
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
  .signup-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
  .signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #f2f3f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{        
      font-size: 16px;
      font-weight: bold;		
  min-width: 140px;
      outline: none !important;
  }
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}    	
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
  .signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #5cb85c;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
} 

.bookBox{
  height: 25vh;
  width: 200px;
  border-radius: 15px;
  border: 1px solid navy;
  background: linear-gradient(to right, lightblue, white, lightblue);
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 1% 0 1% 1%;
  display: inline-block;
}

.testText{
  color: red;
}

#dashboard{
  width: 95%;
  padding: 15px;
}

#bookCard{
  display: inline-block; 
  width: 20%; 
  margin: 1%;
}

#updateButton{
  border-radius: 5px;
  color: green;
  background: darkgray;
}

#updateButton:hover {
  background: silver;
}

.updateCard:hover{
  text-decoration: none;
  background: rgb(225, 252, 225);
}

#displayDashboard{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

#bookCard img{
  height: 15px;
}

#bookCard button{
  background: none;
  border: none;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
  text-decoration: none;
}

#binding{
  border: 2px dotted darkgreen;
  background: palegoldenrod;
  border-radius: 12px;
  height: 68vh;
  width: 105%;
  padding-top: 2%;
}

#notebook{
  height: 63vh;
  padding: 2% 2% 0 2%;
  border-radius: 12px;
  background: palegoldenrod;
  overflow: hidden;
  overflow-y: scroll;
}

#notebook p{
  margin-bottom: -0.5%;
  font-family: serif;
}

.modalIcon{
  border: none;
  background: none;
}

.modalIcon img{
  height: 1.75vh;
}

h5 a:hover{
  text-decoration: none;
}